<form class={{if entriesNotEmpty 'space-bottom'}}>
  {{input
    placeholder='Description'
    type='text'
    autocomplete='off'
    class='textfield textfield--super-long textfield--mobile-friendly'
    classBinding='descriptionInvalid:textfield--error'
    focusIn=(action 'resetDescriptionError')
    value=description
    disabled=isDisabled}}
  {{input
    placeholder='0.00'
    type='text'
    autocomplete='off'
    class='textfield textfield--align-right textfield--mobile-friendly'
    classBinding='amountInvalid:textfield--error'
    focusIn=(action 'resetAmountError')
    value=amount
    disabled=isDisabled}}
  <select id='categoryId' class='textfield textfield--mobile-friendly' disabled={{isDisabled}}>
    {{#each categories as |category|}}
      <option value={{category.id}}>{{category.name}}</option>
    {{/each}}
  </select>
  <button type="submit" class="icon-button" disabled={{isDisabled}}>
    {{fa-icon "plus"}}
  </button>
</form>
