<form class="entry-form entry-form--space-bottom">
  {{input
    placeholder='MM/DD/YYYY'
    type='text'
    class='entry-form__textfield entry-occurred-on'
    value=occurredOn}}
  {{input
    placeholder='Description'
    type='text'
    class='entry-form__textfield entry-form__textfield--long'
    value=description}}
  {{input
    placeholder='0.00'
    type='text'
    class='entry-form__textfield entry-form__textfield--align-right'
    value=amount}}
  <select id='categoryId' class='entry-form__select'>
    {{#each categories as |category|}}
      <option value={{category.id}}>{{category.name}}</option>
    {{/each}}
  </select>
  <button type="submit" class="entry-form__button">+</button>
</form>
