<form>
  {{pikaday-input
    value=occurredOn
    format="MM/DD/YYYY"
    placeholder="MM/DD/YYYY"
    theme="datepicker"
    classBinding='occurredOnInvalid:textfield--error'
    focusIn=(action 'resetOccurredOnError')
    class='textfield textfield--space-bottom'}}
  {{input
    placeholder='Description'
    type='text'
    class='textfield textfield--space-bottom textfield--long'
    classBinding='descriptionInvalid:textfield--error'
    focusIn=(action 'resetDescriptionError')
    value=description}}
  {{input
    placeholder='0.00'
    type='text'
    class='textfield textfield--space-bottom textfield--align-right'
    classBinding='amountInvalid:textfield--error'
    focusIn=(action 'resetAmountError')
    value=amount}}
  <select id='categoryId' class='textfield textfield--space-bottom'>
    {{#each categories as |category|}}
      <option value={{category.id}}>{{category.name}}</option>
    {{/each}}
  </select>
  <button type="submit" class="icon-button">
    {{fa-icon "plus"}}
  </button>
</form>
