<h2 class="h2">{{model.name}}</h2>

<div class="category-row">
  <div class="cell">Category</div>
  <div class="cell">Budget</div>
  <div class="cell">Spent</div>
  <div class="cell">Difference</div>
</div>

{{#each model.categories as |category|}}
  <div class="category-row light">
    {{category-name category=category updateCategory=(action 'updateCategory')}}
    {{category-budget-amount category=category updateCategory=(action 'updateCategory')}}
    <div class="cell">{{dollar-format category.total}}</div>
    {{category-cell amount=category.difference}}
  </div>
{{/each}}

<div class="category-row">
  <div class="cell">Total</div>
  <div class="cell">{{dollar-format model.total}}</div>
  <div class="cell">{{dollar-format model.spent}}</div>
  {{category-cell amount=model.difference}}
</div>

{{category-form addCategory=(action 'addCategory')}}

<h2 class="h2 h2--space-top">Transactions</h2>

{{entry-form categories=model.categories addEntry=(action 'addEntry')}}

{{#each model.entries as |entry|}}
  <div class="entry-form">
    {{input
      placeholder='MM/DD/YYYY'
      type='text'
      class='entry-form__textfield'
      value=entry.occurredOn}}
    {{input
      placeholder='Description'
      type='text'
      class='entry-form__textfield entry-form__textfield--long'
      value=entry.description}}
    {{input
      placeholder='0.00'
      type='text'
      class='entry-form__textfield entry-form__textfield--align-right'
      value=entry.amount}}
    <select id='categoryId' class='entry-form__select'>
      {{#each model.categories as |category|}}
        <option value={{category.id}} selected={{eq category.id entry.category.id}}>
          {{category.name}}
        </option>
      {{/each}}
    </select>
    <button type="submit" class="entry-form__button">-</button>
  </div>
{{/each}}
