<h2 class="h2">{{model.name}}</h2>

<div class="category-row">
  <div class="cell">Category</div>
  <div class="cell">Budget</div>
  <div class="cell">Spent</div>
  <div class="cell">Difference</div>
</div>

{{#each model.categories as |category|}}
  <div class="category-row light">
    {{category-name category=category updateCategory=(action 'updateCategory')}}
    {{category-budget-amount category=category updateCategory=(action 'updateCategory')}}
    <div class="cell">{{dollar-format category.total}}</div>
    {{category-cell amount=category.difference}}
  </div>
{{/each}}

<div class="category-row">
  <div class="cell">Total</div>
  <div class="cell">{{dollar-format model.total}}</div>
  <div class="cell">{{dollar-format model.spent}}</div>
  {{category-cell amount=model.difference}}
</div>

{{category-form addCategory=(action 'addCategory')}}

<h2 class="h2 h2--space-top">Transactions</h2>

{{entry-form categories=model.categories addEntry=(action 'addEntry')}}

{{#each model.entries as |entry|}}
  <div>
    {{entry.description}}
    <span>{{entry.amount}}</span>
    <span>{{entry.occurredOn}}</span>
    <span>{{entry.category.name}}</span>
  </div>
{{/each}}
