<h2>{{model.name}}</h2>

{{#each categories as |category|}}
  <div class="category-row">
    {{category-name category=category updateCategory=(action 'updateCategory')}}
    {{category-budget-amount category=category updateCategory=(action 'updateCategory')}}
    <div class="category-element category-amount-total">
      {{dollar-format category.entryAmountTotal}}
    </div>

    {{category-entry-difference entryTotalDifference=category.entryTotalDifference}}
  </div>

  <br>
{{/each}}

{{category-form addCategory=(action 'addCategory')}}

<br>

{{#each entries as |entry|}}
  <div>
    {{entry.description}}
    <span>{{entry.amount}}</span>
    <span>{{entry.occurredOn}}</span>
    <span>{{entry.category.name}}</span>
  </div>
{{/each}}
