<h2>{{model.name}}</h2>

<div class="category-row">
  <div class="cell">Category</div>
  <div class="cell">Budget</div>
  <div class="cell">Spent</div>
  <div class="cell">Difference</div>
</div>

{{#each categories as |category|}}
  <div class="category-row">
    {{category-name category=category updateCategory=(action 'updateCategory')}}
    {{category-budget-amount category=category updateCategory=(action 'updateCategory')}}
    <div class="cell">{{dollar-format category.entryAmountTotal}}</div>
    {{category-cell amount=category.entryTotalDifference}}
  </div>
{{/each}}

<div class="category-row">
  <div class="cell">Total</div>
  <div class="cell">{{dollar-format model.total}}</div>
  <div class="cell">{{dollar-format model.spent}}</div>
  {{category-cell amount=model.difference}}
</div>

<br>

{{category-form addCategory=(action 'addCategory')}}

<br>

{{#each entries as |entry|}}
  <div>
    {{entry.description}}
    <span>{{entry.amount}}</span>
    <span>{{entry.occurredOn}}</span>
    <span>{{entry.category.name}}</span>
  </div>
{{/each}}
