<h2>{{model.name}}</h2>

{{#each categories as |category|}}
  <div>
    {{category-name category=category
                    updateCategory=(action 'updateCategory')}}
    <span>{{category.budget_amount}}</span>
    <span>{{category.entryAmountTotal}}</span>
    <span>{{category.entryTotalDifference}}</span>
  </div>
{{/each}}

{{category-form addCategory=(action 'addCategory')}}

<br>

{{#each entries as |entry|}}
  <div>
    {{entry.description}}
    <span>{{entry.amount}}</span>
    <span>{{entry.occurredOn}}</span>
    <span>{{entry.category.name}}</span>
  </div>
{{/each}}
