<h2 class="h2">{{budgetSheet.name}}</h2>

<div class="backdrop">
  <div class="data-cell data-cell--bold data-cell--long">Category</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Budget</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Spent</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Less</div>

  {{#if currentlyLoading}}
    <div class="data-cell data-cell--full-width data-cell--pad-top data-cell--pad-bottom">
      <div class="loading loading--centered">
        {{fa-icon "refresh" spin=true}}
      </div>
    </div>
  {{else}}
    {{#each categories as |category|}}
      {{autosave-textfield
        recordId=category.id
        attributeName='name'
        attributeValue=category.name
        placeholder='Category'
        recordChanged=(action 'updateCategory')}}
      {{autosave-moneyfield
        recordId=category.id
        attributeName='budgetAmount'
        attributeValue=category.budgetAmount
        placeholder='0.00'
        recordChanged=(action 'updateCategory')}}
      <div class="data-cell data-cell--align-right">{{dollar-format category.total}}</div>
      {{data-cell highlightPositive=true amount=category.difference alignRight=true}}
      {{delete-button id=category.id recordDeleted=(action 'deleteCategory')}}
    {{/each}}

    <div class="data-cell data-cell--bold data-cell--long">Total</div>
    <div class="data-cell data-cell--bold data-cell--align-right">{{dollar-format total}}</div>
    <div class="data-cell data-cell--bold data-cell--align-right">{{dollar-format spent}}</div>
    {{data-cell amount=difference alignRight=true isBold=true}}

    {{category-form categoryAdded=(action 'addCategory')}}
  {{/if}}
</div>

<h2 class="h2 h2--space-top">Savings</h2>

<div class="backdrop">
  <div class="data-cell data-cell--bold data-cell--super-long">Income</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Projected</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Actual</div>

  {{#if currentlyLoading}}
    <div class="data-cell data-cell--full-width data-cell--pad-top data-cell--pad-bottom">
      <div class="loading loading--centered">
        {{fa-icon "refresh" spin=true}}
      </div>
    </div>
  {{else}}
    {{autosave-moneyfield
      recordId=budgetSheet.id
      attributeName='income'
      attributeValue=budgetSheet.income
      placeholder='0.00'
      superLong=true
      recordChanged=(action 'updateBudgetSheet')}}
    <div class="data-cell data-cell--bold data-cell--align-right">{{dollar-format projectedSavings}}</div>
    {{data-cell amount=actualSavings alignRight=true isBold=true}}
  {{/if}}
</div>


<h2 class="h2 h2--space-top">Expenses</h2>

<div class="backdrop">
  <div class="data-cell data-cell--bold data-cell--super-long">Description</div>
  <div class="data-cell data-cell--bold data-cell--align-right">Amount</div>
  <div class="data-cell data-cell--bold">Category</div>

  {{#unless currentlyLoading}}
    {{entry-form entries=sortedEntries categories=categories entryAdded=(action 'addEntry')}}

    {{#each sortedEntries as |entry|}}
      {{autosave-textfield
        recordId=entry.id
        attributeName='description'
        attributeValue=entry.description
        placeholder='Description'
        superLong=true
        recordChanged=(action 'updateEntry')}}
      {{autosave-moneyfield
        recordId=entry.id
        attributeName='amount'
        attributeValue=entry.amount
        placeholder='0.00'
        recordChanged=(action 'updateEntry')}}
      {{entry-category
        entry=entry
        categories=categories
        entryChanged=(action 'updateEntry')}}
      {{delete-button id=entry.id recordDeleted=(action 'deleteEntry')}}
    {{/each}}
  {{/unless}}
</div>
