<h2 class="h2">{{budgetSheet.name}}</h2>

<div class="category-row">
  <div class="cell">Category</div>
  <div class="cell">Budget</div>
  <div class="cell">Spent</div>
  <div class="cell">Difference</div>
</div>

{{#each categories as |category|}}
  <div class="category-row light">
    {{category-name category=category categoryChanged=(action 'updateCategory')}}
    {{category-budget-amount
      category=category
      categoryChanged=(action 'updateCategory')}}
    <div class="cell">{{dollar-format category.total}}</div>
    {{category-cell amount=category.difference}}
  </div>
{{/each}}

<div class="category-row">
  <div class="cell">Total</div>
  <div class="cell">{{dollar-format total}}</div>
  <div class="cell">{{dollar-format spent}}</div>
  {{category-cell amount=difference}}
</div>

{{category-form categoryAdded=(action 'addCategory')}}

<h2 class="h2 h2--space-top">Transactions</h2>

{{entry-form categories=categories entryAdded=(action 'addEntry')}}

{{#each entries as |entry|}}
  <div class="entry-form">
    {{entry-occurred-on entry=entry entryChanged=(action 'updateEntry')}}
    {{entry-description entry=entry entryChanged=(action 'updateEntry')}}
    {{entry-amount entry=entry entryChanged=(action 'updateEntry')}}
    {{entry-category
      entry=entry
      categories=categories
      entryChanged=(action 'updateEntry')}}
    {{entry-delete entry=entry entryRemoved=(action 'deleteEntry')}}
  </div>
{{/each}}
